:root {
    --main-bg-color: #3c3f41;
    --secondary-bg-color: #2b2b2b;
    --text-color: #bababa;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: var(--main-bg-color);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--text-color);
}

a {
    color: var(--text-color);
}

.tab-headers {
    display: flex;
    justify-content: space-around;
    margin: 15px 15px 0;
    width: 100%;
}

.tab-header {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0;
    height: 50px;
    width: 100%;
}

.tab-header:hover,
.tab-header:focus {
    text-decoration: none;
    outline: var(--main-bg-color);
}

.active-tab-header {
    background-color: var(--secondary-bg-color);
}

.active-tab-header {
    color: orangered;
}

.hidden-tab {
    display: none;
}

.footer nav {
    display: flex;
    flex-direction: row;
}

.footer ul {
    list-style-type: none;
}

.footer h4 {
    margin: 0;
}

.vertical-split-container {
    flex-direction: row;
    display: flex;
}

@media all and (max-width: 920px) {
    .vertical-split-container {
        flex-direction: column;
    }

    .tab-group .column {
        width: 100%;
    }
}

.highlight {
    font-size: small;
}

pre {
    overflow-y: auto;
}

.column {
    min-height: 100px;
    max-width: 100%;
    height: 1000px;
    width: 50%;
}

.text-area {
    background-color: var(--main-bg-color);
    margin-top: 8px;
    color: var(--text-color);
    height: 90%;
    min-height: 100px;
    box-sizing: border-box;
    width: 100%;
}

.error-message {
    color: orangered;
    text-align: center;
    height: 100%;
}

.copy-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    margin: 5px 0 5px 5px;
    outline: var(--main-bg-color);
    width: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.footer {
    justify-self: flex-end;
    margin-top: 10px;
    justify-content: flex-start;
}

pre {
    height: 90%;
}
